body {
    background-color: #4caf50;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}
h1 {
    color: white;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}
form {
    background-color: #fafafa;
    border: 1px solid #757575;
    box-shadow: 2px 2px 5px #bdbdbd;
    display: block;
    margin: auto;
    max-width: 90%;
}
#survey-title {
    text-align: center;
    margin: 10px 0px 20px 0px;
}
.survey-question {
    display: inline-block;
    margin: 0px;
    padding: 10px;
    text-align: right;
    vertical-align: middle;
    width: 50%;
}
.radio {
    display: inline-block;
    font-size: 14px;
    height: 16px;
    width: 100%;
    vertical-align: top;
}
#radio-group {
    display: inline-block;
    height: 76px;
    text-align: left;
    vertical-align: middle;
    width: 40%;
}
#option {
    display: inline-block;
    vertical-align: middle;
}
#checkboxContainer {
    columns: 100px 2;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}
textarea {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 10px 0px;
}
#button {
    background-color: #dd2c00;
    border-radius: 5px;
    color: white;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: .8em;
    font-weight: 300;
    height: 30px;
    line-height: 5px;
    margin: 10px auto;
    padding: 5px 5px;
    width: 100px;
}